<nav class="navbar-default navbar-side" role="navigation">
<div class="sidebar-collapse">
<ul class="nav" id="main-menu">
<li class="text-center">
  <% if(user.picture) {%>
   <img src="<%= user.picture %>" class="user-image img-responsive"/>
  <% }else {%>
    <img src="assets/img/find_user.png" class="user-image img-responsive"/>
  <%}%>
  <a class="btn btn-primary" data-toggle="modal" data-target="#image" >Update Image</a>
</li>

   <% if(user.role == "admin") { %>
    <li>
        <a class="active-menu"  href="/admin"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
    </li>
     <li>
        <a  href="/text"><i class="fa fa-desktop fa-3x"></i> Generate Text</a>
    </li>

   <li  >
        <a   href="/admin/chart"><i class="fa fa-bar-chart-o fa-3x"></i> Transaction Logs</a>
    </li>
      <li  >
        <a  href="/admin/table"><i class="fa fa-table fa-3x"></i> Aspirants</a>
    </li>

    <% }else{ %>

    <li>
        <a class="active-menu"  href="/dashboard"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
    </li>
     <li>
        <a  href="/text"><i class="fa fa-desktop fa-3x"></i> Start Campaign</a>
    </li>
<li  >
        <a   href="/chart"><i class="fa fa-bar-chart-o fa-3x"></i> My Campaigns</a>
    </li>
      <li  >
        <a  href="/table"><i class="fa fa-table fa-3x"></i> My Contacts</a>
    </li>
    <li  >
        <a  href="/admin/form"><i class="fa fa-edit fa-3x"></i> Update Profile </a>
    </li>
     <% } %>

  </ul>

</div>

</nav>

<!-- /. ROW  -->
<div class="modal fade" id="image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                    <form id="contact-form" method="POST" action="/image/update" enctype="multipart/form-data">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
                      </div>
                      <div class="modal-body">
                        <div class="form-group input-group">
                         <label>File input</label>
                         <input type="file" name="image" required="true">
                         </div>

                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
          <!-- modal ends  -->
