<nav class="navbar-default navbar-side" role="navigation">
<div class="sidebar-collapse">
<ul class="nav" id="main-menu">
<li class="text-center">
    <img src="assets/img/find_user.png" class="user-image img-responsive"/>
</li>

   <% if(user.role == "admin") { %>
    <li>
        <a class="active-menu"  href="/admin"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
    </li>
     <li>
        <a  href="/text"><i class="fa fa-desktop fa-3x"></i> Generate Text</a>
    </li>

   <li  >
        <a   href="/admin/chart"><i class="fa fa-bar-chart-o fa-3x"></i> Transaction Logs</a>
    </li>
      <li  >
        <a  href="/admin/table"><i class="fa fa-table fa-3x"></i> Aspirants</a>
    </li>

    <% }else{ %>

    <li>
        <a class="active-menu"  href="/dashboard"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
    </li>
     <li>
        <a  href="/text"><i class="fa fa-desktop fa-3x"></i> Start Campaign</a>
    </li>
<li  >
        <a   href="/chart"><i class="fa fa-bar-chart-o fa-3x"></i> My Campaigns</a>
    </li>
      <li  >
        <a  href="/table"><i class="fa fa-table fa-3x"></i> My Contacts</a>
    </li>
    <li  >
        <a  href="/form"><i class="fa fa-edit fa-3x"></i> Create Contacts </a>
    </li>
     <% } %>

  </ul>

</div>

</nav>
