<footer class="footer">

         <div class="container">
           <div class="footer-info col-md-12 text-center">
             <ul>
               <li><a href="#">© 2017 AV-APP.</a></li>
               <li><a href="#"> All rights reserved.</a></li>
               <li><a href="#">desshub95@gmail.com</a></li>
             </ul>
           </div>
           <div class="footer-social-icons col-md-12 text-center">
             <ul>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-rss"></i></a></li>
             </ul>
           </div>
         </div>



</footer>

<section class="sub-footer">
         <div class="container">
           <div class="copyright-text col-md-6 col-sm-6 col-xs-12">
             <p>© 2017 AV-APP. All rights reserved.</p>
           </div>
           <div class="designed-by col-md-6 col-sm-6 col-xs-12">
             <p>Designed by: <a href="#">Dessmond</a></p>
           </div>
         </div>
       </section>
