<!DOCTYPE html>
<html>
<% include ../partials/admin-head %>
<body>
    <div id="wrapper">
        <% include ../partials/admin-nav %>
           <!-- /. NAV TOP  -->
                <% include ../partials/admin-side %>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
        <div id="page-inner">
           <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Tables</h2>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-tabs">

                            <li class="active"><a href="#contacts" data-toggle="tab">Contacts</a></li>
                        </ul>

                        <div class="tab-content">


                            <div class="tab-pane fade active in" id="contacts">

                                <div class="row">
                                <div class="col-md-12">
                                     <!--    Context Classes  -->
                                    <div class="panel panel-default">

                                        <div class="panel-heading">
                                            <h4>Contacts Tab</h4>
                                        </div>

                                        <div class="panel-body">
                                            <div class="table-responsive">
                                              <% if(contacts.length==0){ %>
                                                <h2 style="color:green">You have 0 Contacts. Create Contacts <a href="/form">Here</a> to proceed</h2>
                                              <% }else{ %>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>First Name</th>
                                                            <th>Last Name</th>
                                                            <th>Mobile No</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                      <% for(i=0; i<contacts.length; i++) { %>
                                                        <tr class="success">
                                                            <td><%= i+1 %></td>
                                                            <td><%= contacts[i].firstname %></td>
                                                            <td><%= contacts[i].lastname %></td>
                                                            <td><%= contacts[i].phoneno %></td>
                                                        </tr>
                                                       <% } %>

                                                    </tbody>
                                                </table>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  end  Context Classes  -->
                                </div>
                            </div>
                                <!-- /. ROW  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>





    </div>

</div>
         <!-- /. PAGE INNER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <% include ../partials/admin-scripts %>


</body>
</html>
