

<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body >
<!-- [ LOADERs ]
================================================================================================================================-->
    <div class="preloader">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- [ /PRELOADER ]
=============================================================================================================================-->
<!-- [WRAPPER ]
=============================================================================================================================-->
<div class="wrapper">

 <!-- [NAV]
 ============================================================================================================================-->
   <!-- Navigation
    ==========================================-->
    <% include ../partials/nav.ejs %>

   <!-- [/NAV]
 ============================================================================================================================-->





  <!-- [MAIN GALLERY ]
=============================================================================================================================-->
  <section class="main-gallery" id="home" >
    <div class="overlay" style="background-color: hsla(120, 100%, 50%, 0.3);">
      <div class="container" >
          <div class="row">
              <div class="col-md-12 text-center">
                 <h1 class="text-capitalize bigFont" data-scroll-reveal="wait 0.45s, then enter top and move 80px over 1s">Reach Out To Your Supporters</h1>

                <p class="intro" data-scroll-reveal="wait 0.45s, then enter left and move 80px over 1s">Send upto a 1000 sms in a minute.</p>
              </div>

              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="text-center top40">
                          <a href="/register" class="btn btns black-background white fadeInRight page-scroll">Signup For Free</a>
                          <a href="/login" class="btn btns black-background white fadeInRight page-scroll">Login</a>
                        </div>
                    </div>

          </div>
      </div>
    </div>

  </section>


  <!-- [/MAIN GALLERY]
=============================================================================================================================-->
<!-- [HOW WORKS]
=============================================================================================================================-->

<section class="how-works" id="about">
    <div class="overlay">
 <div class="container">
           <div class="row text-center">
               <div class="how-it-works-heading">
                   <h2 class="sectionTitle">About Us</h2>
               </div>
           </div>
           <div class="row">
               <div class="col-md-12 app-board">
                   <div class="app-board-inner">


                   <div class="tab-content">
                       <div class="tab-pane fade in active" id="">


                           <p class="narrow text-center">
                               Aspirant254 provides a platform for all 2017 General elections aspirants across the country to reach out to his/her supporters by sending unlimited direct messages.<br> The dockets/posts include Gubernatorial, Senatorial, County Women Representative, Member Of Parliament and Member of County Assembly.
                               <br>No need to type contact every time you want to send an sms , Enter receptients' number once by creating contacts list .<br>
                               With a free account , aspirant can be able to share his/her manifesto with electorates.<br> Talk to your people in their language at any time of the day.<br>For more details call 0792746432
                           </p>

                           <p class="text-center">
                               <a href="/register" class="btn btn-success btn-outline-rounded theme_background_color"> Sign Up Here <span
                                       class="fa fa-send-o"></span></a>
                           </p>
                       </div>



                       <div class="clearfix"></div>
                   </div>

               </div>
           </div>
       </div>
    </div>
</section>

<!-- [/HOW WORKS]
=============================================================================================================================-->


 <!-- [HOW WORKS]
=============================================================================================================================-->

 <section class="how-works" id="howwork">
     <div class="overlay">
  <div class="container">
            <div class="row text-center">
                <div class="how-it-works-heading">
                    <h2 class="sectionTitle">How It Work's</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 app-board">
                    <div class="app-board-inner">
                        <ul class="nav nav-tabs liner" id="myTab" role=tablist>
                            <li class="active">
                                <a href="#userexperience" aria-controls="userexperience" role="tab" data-toggle="tab" title="User Registration">
                                    <span class="round-tabs one">
                                        <span class="">1</span>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" title="Sketch">
                                    <span class="round-tabs two">
                                        <span class="">2</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#prototyping" aria-controls="prototyping" role="tab" data-toggle="tab" title="Contacts Registrations">
                                    <span class="round-tabs three">
                                        <span class="">3</span>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#uidesign" aria-controls="uidesign" role="tab" data-toggle="tab" title="Text Genarations">
                                    <span class="round-tabs four">
                                        <span class="">4</span>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#doner" aria-controls="doner" role="tab" data-toggle="tab" title="Send Text">
                                    <span class="round-tabs five">
                                        <span class="">5</span>
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="userexperience">

                            <h3 class="head text-center">Account Creation</h3>

                            <p class="narrow text-center">
                                 Sign Up and proceed to update your profile page . Upload your profile photo, update your personal and political details and outline your manifesto.
                            </p>

                            <p class="text-center">
                                <a href="/register" class="btn btn-success btn-outline-rounded theme_background_color"> Sign Up Here <span
                                        class="fa fa-send-o"></span></a>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="profile">
                            <h3 class="head text-center">Contacts Registration</h3>

                            <p class="narrow text-center">
                                Once you have an account , Login and create contacts. These are electorate contacts at which you will send messages to.
                            </p>

                            <p class="text-center">
                                <a href="/login" class="btn btn-success btn-outline-rounded theme_background_color"> Login Here <span
                                        class="fa fa-send-o"></span></a>
                            </p>

                        </div>
                        <div class="tab-pane fade" id="prototyping">
                            <h3 class="head text-center">Start Campaign</h3>

                            <p class="narrow text-center">
                                Create your campaign text and save it as draft. Your text should include your message to the people , your name ,your poll post and party
                            </p>

                            <p class="text-center">
                                <a href="/login" class="btn btn-success btn-outline-rounded theme_background_color"> Login <span
                                        class="fa fa-send-o"></span></a>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="uidesign">
                            <h3 class="head text-center">Tokens Subscription</h3>

                            <p class="narrow text-center">
                                In order to send text ,you should have tokens. Pick one of the affordable plans and place and place an order.
                            </p>

                            <p class="text-center">
                                <a href="/login" class="btn btn-success btn-outline-rounded theme_background_color"> Login <span
                                        class="fa fa-send-o"></span></a>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="doner">
                            <div class="text-center">
                                <i class="img-intro icon-checkmark-circle"></i>
                            </div>
                            <h3 class="head text-center">Campaign</h3>

                            <p class="narrow text-center">
                              Head to start campaign portal and select the campaign you want to send. You can update the campaign content by clicking on update button , edit and save changes before sending.
                            </p>

                            <p class="text-center">
                                <a href="/login" class="btn btn-success btn-outline-rounded theme_background_color">  Login <span
                                        class="fa fa-send-o"></span></a>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
     </div>
 </section>

 <!-- [/HOW WORKS]
=============================================================================================================================-->

 <!-- [FOOTER]
=============================================================================================================================-->
 <% include ../partials/footer.ejs %>

 <!-- [/FOOTER]
=============================================================================================================================-->









</div>


<!-- [ /WRAPPER ]
=============================================================================================================================-->

	<% include ../partials/script.ejs %>
  <script src="js/common.js"></script>

</body>


</html>
