
<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body >
<!-- [ LOADERs ]
================================================================================================================================-->
    <div class="preloader">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- [ /PRELOADER ]
=============================================================================================================================-->
<!-- [WRAPPER ]
=============================================================================================================================-->
<div class="wrapper">

 <!-- [NAV]
 ============================================================================================================================-->
   <!-- Navigation
    ==========================================-->
    <% include ../partials/nav.ejs %>

   <!-- [/NAV]
 ============================================================================================================================-->





  <!-- [MAIN GALLERY ]
=============================================================================================================================-->
  <section class="main-gallery" id="home" >
    <div class="overlay" style="background-color: hsla(120, 100%, 50%, 0.3);">
      <div class="container" >
          <div class="row">
              <div class="col-md-12 text-center">
                 <h1 class="text-capitalize bigFont" data-scroll-reveal="wait 0.45s, then enter top and move 80px over 1s">Reach Out To Your Supporters</h1>

                <p class="intro" data-scroll-reveal="wait 0.45s, then enter left and move 80px over 1s">Send upto a 1000 sms in a minute.</p>
              </div>

              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="text-center top40">
                          <a href="/register" class="btn btns black-background white fadeInRight page-scroll">Signup Free</a>
                          <a href="/login" class="btn btns black-background white fadeInRight page-scroll">Login</a>
                        </div>
                    </div>

          </div>
      </div>
    </div>

  </section>


  <!-- [/MAIN GALLERY]
=============================================================================================================================-->
<!-- [HOW WORKS]
=============================================================================================================================-->

<section class="how-works" id="about">
    <div class="overlay">
 <div class="container">
           <div class="row text-center">
               <div class="how-it-works-heading">
                   <h2 class="sectionTitle">About Us</h2>
               </div>
           </div>
           <div class="row">
               <div class="col-md-12 app-board">
                   <div class="app-board-inner">


                   <div class="tab-content">
                       <div class="tab-pane fade in active" id="">


                           <p class="narrow text-center">
                               AV_APP (Aspirant Voter Application) provides a platform for all 2017 General elections aspirants across the country to reach out to his/her supporters by sending unlimited direct messages.<br> The posts include Gubernatorial, Senatorial, County Women Representative, Member Of Parliament and Member of County Assembly.
                               <br>No need to type to contact every time you want to send an sms , Enter receptients' number once by creating contacts list .<br>
                               With a free account , aspirant can be able to share its manifestor and display its campaign banner by simply customizing his/her profile page with shareable link.
                           </p>

                           <p class="text-center">
                               <a href="/register" class="btn btn-success btn-outline-rounded theme_background_color"> Sign Up Here <span
                                       class="fa fa-send-o"></span></a>
                           </p>
                       </div>



                       <div class="clearfix"></div>
                   </div>

               </div>
           </div>
       </div>
    </div>
</section>

<!-- [/HOW WORKS]
=============================================================================================================================-->


 <!-- [HOW WORKS]
=============================================================================================================================-->

 <section class="how-works" id="howwork">
     <div class="overlay">
  <div class="container">
            <div class="row text-center">
                <div class="how-it-works-heading">
                    <h2 class="sectionTitle">How It Work's</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 app-board">
                    <div class="app-board-inner">
                        <ul class="nav nav-tabs liner" id="myTab" role=tablist>
                            <li class="active">
                                <a href="#userexperience" aria-controls="userexperience" role="tab" data-toggle="tab" title="User Registration">
                                    <span class="round-tabs one">
                                        <i class="fa fa-male"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" title="Sketch">
                                    <span class="round-tabs two">
                                        <i class="fa fa-pencil-square"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#prototyping" aria-controls="prototyping" role="tab" data-toggle="tab" title="Contacts Registrations">
                                    <span class="round-tabs three">
                                        <i class="fa fa-language"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#uidesign" aria-controls="uidesign" role="tab" data-toggle="tab" title="Text Genarations">
                                    <span class="round-tabs four">
                                        <i class="fa fa-adjust"></i>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#doner" aria-controls="doner" role="tab" data-toggle="tab" title="Send Text">
                                    <span class="round-tabs five">
                                        <i class="fa fa-bar-chart"></i>
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="userexperience">

                            <h3 class="head text-center">User Registration</h3>

                            <p class="narrow text-center">
                                First create an account by signing up in order to access personal dashboard.
                            </p>

                            <p class="text-center">
                                <a href="/register" class="btn btn-success btn-outline-rounded theme_background_color"> Sign Up Here <span
                                        class="fa fa-send-o"></span></a>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="profile">
                            <h3 class="head text-center">Contact Registration</h3>

                            <p class="narrow text-center">
                                Once you have an account , Login and create contacts. These are voters contacts at which you will send texts to.
                            </p>

                            <p class="text-center">
                                <a href="/login" class="btn btn-success btn-outline-rounded theme_background_color"> Login Here <span
                                        class="fa fa-send-o"></span></a>
                            </p>

                        </div>
                        <div class="tab-pane fade" id="prototyping">
                            <h3 class="head text-center">Text Genaration</h3>

                            <p class="narrow text-center">
                                Create your text and save it as draft. Your text should include your message to the people , your name ,your poll post and party
                            </p>

                            <p class="text-center">
                                <a href="#" class="btn btn-success btn-outline-rounded theme_background_color"> Get Quote <span
                                        class="fa fa-send-o"></span></a>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="uidesign">
                            <h3 class="head text-center">Tokens Aquisition</h3>

                            <p class="narrow text-center">
                                In order to send text ,you should have tokens. Purchase tokens via mpesa paybill number.
                            </p>

                            <p class="text-center">
                                <a href="#" class="btn btn-success btn-outline-rounded theme_background_color"> Get Quote <span
                                        class="fa fa-send-o"></span></a>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="doner">
                            <div class="text-center">
                                <i class="img-intro icon-checkmark-circle"></i>
                            </div>
                            <h3 class="head text-center">Sending Text</h3>

                            <p class="narrow text-center">
                              Head to draft panel and select the text you want to send. You can update the text by clicking on update button , edit and save changes before sending.
                            </p>

                            <p class="text-center">
                                <a href="#" class="btn btn-success btn-outline-rounded theme_background_color"> Get Quote <span
                                        class="fa fa-send-o"></span></a>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
     </div>
 </section>

 <!-- [/HOW WORKS]
=============================================================================================================================-->

 <!-- [/WHY YOU LOVE]
=============================================================================================================================-->

 <section class="why-love theme_background_color" id="whylove">
     <div class="overlay">
   <div class="container">
            <div class="row text-center">
                <div class="WhyLove-heading text-center">

                    <h2 class="sectionTitle">WHY YOU’LL LOVE</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="WhyLove-icon-box text-center">
                        <div class="WhyLove-icon">
                            <span class="themecolor"><i class="fa fa-lightbulb-o" ></i></span>
                        </div>
                        <div class="WhyLove-content">
                            <h4>EASY TO USE</h4>

                            <p>AV-APP is user friendly and very easy to use.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="WhyLove-icon-box text-center">
                        <div class="WhyLove-icon">
                              <span class="themecolor"><i class="fa fa-binoculars"></i></span>
                        </div>
                        <div class="WhyLove-content">
                            <h4>VERY FAST</h4>

                            <p>Technology used is non-blocking hence can serve multiple request at atime.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="WhyLove-icon-box text-center">
                        <div class="WhyLove-icon">
                              <span class="themecolor"><i class="fa fa-adjust"></i></span>
                        </div>
                        <div class="WhyLove-content">
                            <h4>SERVICE DELIVERY</h4>

                            <p>It provides quality , robust and real time services. Also has 24hour customer care services</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="WhyLove-icon-box padding-top30 text-center">
                        <div class="WhyLove-icon">
                             <span class="themecolor"><i class="fa fa-laptop"></i></span>
                        </div>
                        <div class="WhyLove-content">
                            <h4>BOOTSTRAP</h4>

                            <p>Has awesome and beautiful  bootstrap designs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="WhyLove-icon-box padding-top30 text-center">
                        <div class="WhyLove-icon">
                              <span class="themecolor"><i class="fa fa-mobile-phone"></i></span>
                        </div>
                        <div class="WhyLove-content">
                            <h4>FULLY RESPONSIVE</h4>

                            <p>Can be used different screens and maintain its design regardless of the screen size.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="WhyLove-icon-box padding-top30 text-center">
                        <div class="WhyLove-icon">
                             <span class="themecolor"><i class="fa fa-eye-slash"></i></span>
                        </div>
                        <div class="WhyLove-content">
                            <h4>AUTOMATED SMS</h4>

                            <p>Allows you to send bulk sms at a click.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     </div>

 </section>
 <!-- [/WHY YOU WILL LOVE]
=============================================================================================================================-->

 <!-- [CURRENT STATS]
=============================================================================================================================-->
 <section class="our-stats" id="stats">
 <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="our-stats-box text-center">
                        <div class="our-stat-icon">
                            <span class="fa fa-ge"></span>
                        </div>
                        <div class="our-stat-info">
                            <span class="stats" data-from="4763904" data-to="4764504" data-speed="5000"
                                  data-refresh-interval="50"></span>

                            <h5>Total Downloaded</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="our-stats-box text-center">
                        <div class="our-stat-icon">
                            <span class="fa fa-git-square"></span>
                        </div>
                        <div class="our-stat-info">
                            <span class="stats" data-from="1" data-to="504" data-speed="5000"
                                  data-refresh-interval="50"></span>

                            <h5>Editors Supported</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="our-stats-box text-center">
                        <div class="our-stat-icon">
                            <span class="fa fa-globe"></span>
                        </div>
                        <div class="our-stat-info">
                            <span class="stats" data-from="1" data-to="359" data-speed="5000"
                                  data-refresh-interval="50"></span>

                            <h5>Languages Detected</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="our-stats-box text-center">
                        <div class="our-stat-icon">
                            <span class="fa fa-gears"></span>
                        </div>
                        <div class="our-stat-info">
                            <span class="stats" data-from="3500" data-to="5000" data-speed="5000"
                                  data-refresh-interval="50"></span>

                            <h5>Happy Clients</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </section>

 <!-- [CURRENT STATS]
=============================================================================================================================-->
 <!-- [SCREEN SHOT]
=============================================================================================================================-->
 <section class="screeshots" id="screenshot">
     <div class="container">
            <div class="row text-center">
                <div class="screenshots-heading">
                    <h2 class="section-title">App Screenshots</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="screenshot-carousel">
                        <div id="myCarousel" class="carousel slide">

                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Carousel items -->
                            <div class="carousel-inner">

                                <div class="item active">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a href="#x">
                                                <img class="carousel-img" src="images/screenshot-1.jpg" alt="Image"/>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a href="#x">
                                                <img class="carousel-img" src="images/screenshot-2.jpg" alt="Image"/>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a href="#x">
                                                <img class="carousel-img" src="images/screenshot-3.jpg" alt="Image"/>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a href="#x">
                                                <img class="carousel-img" src="images/screenshot-4.jpg" alt="Image"/>
                                            </a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->

                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a href="#x">
                                                <img class="carousel-img" src="images/screenshot-5.jpg" alt="Image"/>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a href="#x">
                                                <img class="carousel-img" src="images/screenshot-6.jpg" alt="Image"/>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a href="#x">
                                                <img class="carousel-img" src="images/screenshot-7.jpg" alt="Image"/>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a href="#x">
                                                <img class="carousel-img" src="images/screenshot-8.jpg" alt="Image"/>
                                            </a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->

                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a href="#x">
                                                <img class="carousel-img" src="images/screenshot-9.jpg" alt="Image"/>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a href="#x">
                                                <img class="carousel-img" src="images/screenshot-10.jpg" alt="Image"/>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a href="#x">
                                                <img class="carousel-img" src="images/screenshot-11.jpg" alt="Image"/>
                                            </a>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a href="#x">
                                                <img class="carousel-img" src="images/screenshot-12.jpg" alt="Image"/>
                                            </a>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->

                            </div>
                            <!--/carousel-inner-->

                        </div>
                        <!--/myCarousel-->

                    </div>
                    <!--/well-->
                </div>
            </div>
        </div>
 </section>


 <!-- [/SCREEH SHOT]
=============================================================================================================================-->


 <!-- [TESTIMONIAL]
=============================================================================================================================-->
 <section class="testimonial" id="testimonial-s">
     <div class="overlay">
     <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="testimonial-area-heading">
                        <h2>What Client Say About Us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" data-wow-delay="0.2s">
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"><img
                                    class="img-responsive " src="images/client-1.jpg" alt="client">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive"
                                                                                     src="images/client-2.jpg"
                                                                                     alt="client">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive"
                                                                                     src="images/client-3.jpg"
                                                                                     alt="clinet">
                            </li>
                        </ol>

                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner text-center">

                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2 col-xs-12">

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                                velit esse cillum dolore eu fugiat nulla pariatur. !</p>
                                            <small>John Doe</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2 col-xs-12">

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                                velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                            <small>Nargis Doe</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2 col-xs-12">

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                                velit esse cillum dolore eu fugiat nulla pariatur. .</p>
                                            <small>Jane Doe</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>

                        <!-- Carousel Buttons Next/Prev -->

                    </div>
                </div>
            </div>
        </div>
     </div>
 </section>

 <!-- [/TESTIMONIAL]
=============================================================================================================================-->

 <!-- [SUBSCRIBE]
=============================================================================================================================-->
 <section class="contactus" id="contact">
     <div class="container">
         <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="testimonial-area-heading">
                        <h2 class="grey">CONTACT US</h2>
                    </div>
                </div>
            </div>
         <div class="gap"></div>
     <div class="row">
                    <!-- /contact info -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <!-- contact form -->
                      <form id="contact-form" method="POST" action="php/sendmail.php">
                        <div class="row form-group">
                          <div class="col-xs-6">
                            <input type="text" name="name" placeholder="name" id="contact-name" class="form-control">
                          </div>
                          <div class="col-xs-6">
                            <input type="email" name="email" placeholder="e-mail" id="contact-email" class="form-control ">
                          </div>
                        </div>
                        <div class="row form-group">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea name="message" rows="4" placeholder="message" id="contact-message" class="form-control "></textarea>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-style blue">Submit</button>
                       <span class="form-message" style="display: none;"></span>
                      </form>
                      <!-- /contact form -->
                    </div>
                  </div>
     </div>

 </section>
 <!--  [CONTACT INFO ENDS ]-->
 <!-- [/SUBSCRIBE]
=============================================================================================================================-->

 <!-- [/login]
=============================================================================================================================-->


=============================================================================================================================-->

 <!-- [/Signup]
=============================================================================================================================-->


 <!-- [FOOTER]
=============================================================================================================================-->
 <footer class="footer">

					<div class="container">
						<div class="footer-info col-md-12 text-center">
							<ul>
								<li><a href="#">© 2017 AV-APP.</a></li>
								<li><a href="#"> All rights reserved.</a></li>
								<li><a href="#">desshub95@gmail.com</a></li>
							</ul>
						</div>
						<div class="footer-social-icons col-md-12 text-center">
							<ul>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>



 </footer>

 <section class="sub-footer">
					<div class="container">
						<div class="copyright-text col-md-6 col-sm-6 col-xs-12">
							<p>© 2017 AV-APP. All rights reserved.</p>
						</div>
						<div class="designed-by col-md-6 col-sm-6 col-xs-12">
							<p>Designed by: <a href="#">Dessmond</a></p>
						</div>
					</div>
				</section>

 <!-- [/FOOTER]
=============================================================================================================================-->









</div>


<!-- [ /WRAPPER ]
=============================================================================================================================-->

	<!-- [ DEFAULT SCRIPT ] -->
	<script src="library/modernizr.custom.97074.js"></script>
	<script src="library/jquery-1.11.3.min.js"></script>
        <script src="library/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script src="library/vegas/vegas.min.js"></script>
	<!-- [ PLUGIN SCRIPT ] -->

	<script src="js/plugins.js"></script>
        <script src="js/fappear.js"></script>
       <script src="js/jquery.countTo.js"></script>
	<script src="js/scrollreveal.js"></script>
       	 <!-- [ COMMON SCRIPT ] -->
	<script src="js/common.js"></script>

</body>


</html>
