<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body >
<!-- [ LOADERs ]
================================================================================================================================-->

<!-- [ /PRELOADER ]
=============================================================================================================================-->
<!-- [WRAPPER ]
=============================================================================================================================-->
<div class="wrapper">
  <!-- [NAV] -->
    <!--============================================================================================================================-->
    <!-- Navigation-->
      <!-- ==========================================-->
     <% include ../partials/nav.ejs %>

    <!-- [/NAV]-->
    <!--============-->

  <!-- [/Signup] -->
   <!--=============================================================================================================================-->

 <section class="why-love theme_background_color" id="signup">
     <div class="overlay">
   <div class="container">

            <div class="row text-center">
                <div class="WhyLove-heading text-center">

                    <h2 class="sectionTitle">Sign Up Here</h2>
                </div>
            </div>
            <% if (message) { %>
              <div class="row">
                 <!-- /contact info -->
                 <div class="col-md-3 col-sm-12 col-xs-3"></div>
                 <div class="col-md-6 col-sm-12 col-xs-6">
                   <% for(i=0; i<message.length; i++){ %>
                   <div data-alert class="alert-box warning radius">
                     <%= message[i].msg %>
                     <a href="#" class="close">&times;</a>
                   </div>
                   <% } %>
                </div></div>
           <% } %>
            <div class="row">
             <!-- /contact info -->
             <div class="col-md-12 col-sm-12 col-xs-12">
               <!-- contact form -->
               <form id="contact-form" method="POST" action="/signup">
                 <div class="row form-group">
                   <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="text" name="firstname" placeholder="First Name" id="first-name" class="form-control" required="true">
                     <input type="text" name="lastname" placeholder="Last Name" id="last-name" class="form-control" required="true">
                     <div class="form-control" name="gender"><label class="radio-inline"><input type="radio" name="gender" value="Male">Male</label>
                     <label class="radio-inline"><input type="radio" name="gender" value="Female">Female</label></div>

                   </div>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="text" name="nickname" placeholder="Campaign Name" id="nick-name" class="form-control" >
                     <input type="text" name="phoneno" placeholder="Mobile No (should begin with +2547)" id="phone-no" class="form-control" required="true">
                     <input type="email" name="email" placeholder="e-mail" id="contact-email" class="form-control " required="true">
                   </div>
                 </div>
                 <div class="row form-group">
                   <div class="col-md-6 col-sm-6 col-xs-12">
                     <div class="">
                      <label for="pos">Select Poll Position:</label>
                      <select class="form-control" id="pos" name="post" style="background-color : #206020">
                        <option  value="Governor">Governor</option>
                        <option  value="Senator">Senator</option>
                        <option  value="MP">Member Of Parliament</option>
                        <option  value="Women-Rep">Women Rep</option>
                        <option  value="Mca">McA</option>
                      </select>
                    </div>
                    <div class="">
                     <label for="county">Select County:</label>
                     <select class="form-control" id="county" name="county" style="background-color : #206020">
                       <option value="Baringo">Baringo</option>
                       <option value="Bomet">Bomet</option>
                       <option value="Bungoma">Bungoma</option>
                       <option value="Busia">Busia</option>
                       <option value="Marakwet">Elgeyo Marakwet</option>
                       <option value="Embu">Embu</option>
                       <option value="Garissa">Garissa</option>
                       <option value="Homa">Homa Bay</option>
                       <option value="Isiolo">Isiolo</option>
                       <option value="Kajiado">Kajiado</option>
                       <option value="Kakamega">Kakamega</option>
                       <option value="Kericho">Kericho</option>
                       <option value="Kiambu">Kiambu</option>
                       <option value="Kilifi">Kilifi</option>
                       <option value="Kirinyaga">Kirinyaga</option>
                       <option value="Kisii">Kisii</option>
                       <option value="Kisumu">Kisumu</option>
                       <option value="Kitui">Kitui</option>
                       <option value="Kwale">Kwale</option>
                       <option value="Laikipia">Laikipia</option>
                       <option value="Lamu">Lamu</option>
                       <option value="Machakos">Machakos</option>
                       <option value="Makueni">Makueni</option>
                       <option value="Mandera">Mandera</option>
                       <option value="Meru">Meru</option>
                       <option value="Migori">Migori</option>
                       <option value="Marsabit">Marsabit</option>
                       <option value="Mombasa">Mombasa</option>
                       <option value="Muranga">Muranga</option>
                       <option value="Nairobi">Nairobi</option>
                       <option value="Nakuru">Nakuru</option>
                       <option value="Nandi">Nandi</option>
                       <option value="Narok">Narok</option>
                       <option value="Nyamira">Nyamira</option>
                       <option value="Nyandarua">Nyandarua</option>
                       <option value="Nyeri">Nyeri</option>
                       <option value="Samburu">Samburu</option>
                       <option value="Siaya">Siaya</option>
                       <option value="Taveta">Taita Taveta</option>
                       <option value="Tana">Tana River</option>
                       <option value="Tharaka">Tharaka Nithi</option>
                       <option value="Nzoia">Trans Nzoia</option>
                       <option value="Turkana">Turkana</option>
                       <option value="Uasin">Uasin Gishu</option>
                       <option value="Vihiga">Vihiga</option>
                       <option value="Wajir">Wajir</option>
                       <option value="Pokot">West Pokot</option>
                     </select>
                   </div>

                   </div>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <br><input type="text" name="constituency" placeholder="Constituency" id="constituency" class="form-control"  required="true">
                   <br><input type="text" name="ward" placeholder="Ward" id="ward" class="form-control "  required="true">
                   </div>
                 </div>

                 <div class="row form-group">
                   <div class="col-md-6 col-sm-6 col-xs-12">

                     <input type="password" name="password" placeholder="Password should Be 8 characters" id="password" class="form-control"  required="true">
                   </div>
                   <div class="col-md-6 col-sm-6 col-xs-12">

                   <input type="password" name="password2" placeholder="Confirmation Password" id="confirm" class="form-control "  required="true">
                   </div>
                 </div>
                 <button type="submit" class="btn btn-style blue">Submit</button>
                <span class="form-message" style="display: none;"></span>
               </form>
               <!-- /contact form -->
             </div>
            </div>
        </div>

     </div>

 </section>
 <!-- [/Signup]
=============================================================================================================================-->
<!-- [FOOTER]
=============================================================================================================================-->
<% include ../partials/footer.ejs %>

<!-- [/FOOTER]
=============================================================================================================================-->


</div>
<% include ../partials/script.ejs %>
</body>
</html>
